mat-toolbar {
  justify-content: center;
}

.auth {

  &__list {
    display: flex;
    height: 100%;
  }

  &__item {
    height: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80px;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
  }
}
